<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers> -->

    <rewrite>
      <rules>

        <!-- API → Node (19999) -->
        <rule name="API Proxy" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="Rewrite" url="http://localhost:19999/api/{R:1}" />
        </rule>

        <!-- React -->
        <rule name="React Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>

        <!-- 
        <rule name="NodeAPI" stopProcessing="true">
          <match url="api/*" />
          <action type="Rewrite" url="server.js" />
        </rule>

        <rule name="ReactRoutes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule> 
        -->
      </rules>
    </rewrite>

    <httpErrors errorMode="Detailed" />
  </system.webServer>
</configuration>